.posts-list {
    padding: 0 0 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: fit-content;
    margin: 0 auto;

    width: 100%;
}

.posts-list li {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 10px;
    outline: 1px solid lightseagreen;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightseagreen;

    overflow: hidden; /* because we use 'height: 100vh'; for lines between columns */
    overflow-wrap: break-word;
}

li.posted-by-current-user {
    outline: 3px solid rebeccapurple;
    box-shadow: 5px 5px 10px rebeccapurple;
}


/* =========    .post-user-data    =========*/
.post-user-data {
    flex-shrink: 0;
    width: 120px;
    max-width: 100%; /* to make sure "overflow-wrap: break-word" works */

    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
}

.post-user-img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.post-user-name {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

li.posted-by-current-user .post-user-name {
    color: rebeccapurple;
}

.post-user-type {
    width: 100%;
    font-size: 13px;
    font-style: italic;
    color: grey;
}

.post-user-registered {
    margin-top: 10px;
    font-size: 13px;
}


/* =========    .post-content    =========*/
.post-content {
    flex-grow: 1;
    text-align: left;
}

.post-content-title {
    margin: 0 0 10px;

    text-align: center;
    color: darkslateblue;

    position: relative;
}

.post-content-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    background-color: lightseagreen;
}

li.posted-by-current-user .post-content-title::after {
    background-color: rebeccapurple;
}


/* =========    .post-date    =========*/
.post-date {
    flex-shrink: 0;
    width: 100px;
    max-width: 100%; /* to make sure "overflow-wrap: break-word" works */

    font-size: 15px;

    position: relative;
}

.post-date span {
    display: block;
    margin-top: 5px;
    color: gray;
    font-size: 14px;
    font-style: italic;
}

/* =========    Lines in between cells    =========*/
.post-user-data::after, .post-date::after {
    content: "";
    position: absolute;
    height: 200%; /* extra value to cover paddings of the '.posts-list li' */
    width: 1px;
    background-color: lightseagreen;

    top: 50%;
    transform: translateY(-50%);
}

.post-user-data::after {
    right: -10px;
}

.post-date::after {
    left: -10px;
}

li.posted-by-current-user .post-user-data::after, li.posted-by-current-user .post-date::after {
    background-color: rebeccapurple;
}