.user-details-album-photos {
    list-style: none;
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 10px;
    justify-content: space-around;
}

.user-details-album {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

.user-details-album-title {
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
}

.user-details-album-btn {
    font-size: 30px;
    cursor: pointer;
}

.user-details-album-btn:hover {
    color: #2C98F0;
}

.user-details-album-photos {
    margin-top: 20px;
}







.user-details-album-photo {
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

.user-details-album-photo-title {
    padding: 5px;
}

.user-details-album-photo-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}